.wrapperDiv {
  position: relative;
}
.wrapperDiv .subDiv {
  position: absolute;
  background-color: black;
}
.wrapperDiv .subDiv .label {
  font-size: 12px !important;
  display: block;
  width: 50%;
  padding: 0.4em 0.6em !important;
  margin-bottom: 10px;
  cursor: pointer;
}
