.notification_counter{
    position: absolute;
    background-color: red;
    border-radius: 7px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    color: #fff;
    right: -4px;
  }
  .notification_wrapper{
    position: relative;
    margin-top: 17px;
  }
  .notification_wrapper > i{
    cursor: pointer;
    z-index: 9;
  }
  .notification_detail{
      display:block;
      right: -100% !important; 
  }
  .notification_detail div {
    min-width: 250px;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid;
    margin: 11px;
  }
  .btn-submit-custom{
    width: 100%;
    margin-top: 3%;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 0;
    color: #262222;
  }