.notification_counter{
    position: absolute;
    background-color: red;
    border-radius: 7px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    color: #fff;
    right: -4px;
  }
  .notification_wrapper{
    position: relative;
    margin-top: 17px;
    cursor: pointer;
    z-index: 1;
  }
  .notification_detail{
      display:block;
      right: -36px;
  }